.container .moon,
.container .sun,
.container .sun-beams {
	transform-origin: center center;
}

:global([data-theme='dark']) .container .sun {
	transform: scale(1.75);
}

:global([data-theme='dark']) .container .sun-beams {
	opacity: 0;
}

:global([data-theme='dark']) .container .moon > circle {
	transform: translateX(-7px);
}

@supports (cx: 1) {
	:global([data-theme='dark']) .container .moon > circle {
		transform: translateX(0);
		cx: 17;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.container .sun {
		transition: transform var(--transition-duration-long) var(--ease-elastic-3);
	}

	.container .sun-beams {
		transition: transform var(--transition-duration-long) var(--ease-elastic-4),
			opacity var(--transition-duration-long) var(--ease-3);
	}

	.container .moon > circle {
		transition: transform calc(var(--transition-duration-long) / 2)
			var(--ease-out-5);
	}

	@supports (cx: 1) {
		.container .moon > circle {
			transition: cx calc(var(--transition-duration-long) / 2) var(--ease-out-5);
		}
	}

	:global([data-theme='dark']) .container .sun {
		transform: scale(1.75);
		transition-timing-function: var(--ease-3);
		transition-duration: calc(var(--transition-duration-long) / 2);
	}

	:global([data-theme='dark']) .container .sun-beams {
		transform: rotateZ(-25deg);
		transition-duration: calc(var(--transition-duration-long) / 3);
	}

	:global([data-theme='dark']) .container .moon > circle {
		transition-delay: calc(var(--transition-duration-long) / 2);
		transition-duration: var(--transition-duration-long);
	}

	@media (prefers-color-scheme: dark) {
		:global([data-theme='auto']) .container .sun {
			transform: scale(1.75);
		}

		:global([data-theme='auto']) .container .sun-beams {
			opacity: 0;
		}

		:global([data-theme='auto']) .container .moon > circle {
			transform: translateX(-7px);
		}

		@supports (cx: 1) {
			:global([data-theme='auto']) .container .moon > circle {
				transform: translateX(0);
				cx: 17;
			}
		}

		:global([data-theme='auto']) .container .sun {
			transform: scale(1.75);
			transition-timing-function: var(--ease-3);
			transition-duration: calc(var(--transition-duration-long) / 2);
		}

		:global([data-theme='auto']) .container .sun-beams {
			transform: rotateZ(-25deg);
			transition-duration: calc(var(--transition-duration-long) / 3);
		}

		:global([data-theme='auto']) .container .moon > circle {
			transition-delay: calc(var(--transition-duration-long) / 2);
			transition-duration: var(--transition-duration-long);
		}
	}
}
