<section class="parallax" layout="column" layout-align="center center">
    <md-content class="md-padding workarea" layout="column" layout-align="center start" layout-fill>
        <div class="md-display-1">
            With over a decade of experience, there are hundreds of completed projects and a myriad of cute experiments under my belt. However, there's nothing a software developer hates more than last week's code, so here is <em>some</em> of my latest work!
        </div>
    </md-content>
</section>

<md-content class="md-padding" layout="column" layout-align="center center">
    <md-content class="md-padding workarea" layout="column" layout-align="center start" layout-fill>
        <section layout-fill>
            <h2 class="md-display-2">Websites</h2>
            <div layout="row" layout-sm="column" layout-align="center center" layout-fill layout-wrap>
                <article flex-sm="100" flex-gt-sm="50" ng-repeat="project in portfolio.projects | filter:{category_id: 1}" class="project">
                    <md-card layout="column">
                        <a href="{{ project.link }}" target="_blank">
                            <img ng-src="{{ project.featured_uri }}" class="md-card-image" alt="{{ project.name }}">
                        </a>
                        <md-card-content flex layout="column" layout-align="space-between">
                            <h3 class="md-title">{{ project.name }}</h3>
                            <p>
                                {{ project.description }}
                            </p>
                            <div layout="row" layout-align="end center">
                                <md-chips ng-model="project.skills" readonly="true">
                                    <md-chip-template>
                                        {{ $chip.name }}
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </md-card-content>
                    </md-card>
                </article>
            </div>
        </section>
        <section layout-fill>
            <h2 class="md-display-2">Apps</h2>
            <div layout="row" layout-sm="column" layout-align="center center" layout-fill layout-wrap>
                <article flex-sm="100" flex-gt-sm="33" ng-repeat="project in portfolio.projects | filter:{category_id: 2}" class="project">
                    <md-card layout="column">
                        <a href="{{ project.link }}" target="_blank">
                            <img ng-src="{{ project.featured_uri }}" class="md-card-image" alt="{{ project.name }}">
                        </a>
                        <md-card-content flex layout="column" layout-align="space-between">
                            <h3 class="md-title">{{ project.name }}</h3>
                            <p>
                                {{ project.description }}
                            </p>
                            <div layout="row" layout-align="end center">
                                <md-chips ng-model="project.skills" readonly="true">
                                    <md-chip-template>
                                        {{ $chip.name }}
                                    </md-chip-template>
                                </md-chips>
                            </div>
                        </md-card-content>
                    </md-card>
                </article>
            </div>
        </section>
    </md-content>
</md-content>