md-whiteframe.business-card {
  .card-header {
    background-color: $color-primary;
    color: $color-white-transparent;
    padding: 0 2rem;
    margin-bottom: 1rem;
  }
}

md-whiteframe.business-card-accent {
  .card-header {
    background-color: $color-accent;
    padding: 0 4rem;
  }

  .card-content {
    padding: 1rem;

    @media screen and (min-width: $layout-breakpoint-sm) {
      padding: 1rem 4rem;
    }
  }

  img.cover {
    width: 100%;
  }
}