.captioned-card {
  .topper {
    position: relative;
    h2 {
      color: $color-white-transparent;
      text-shadow: $base-shadow;
      position: absolute;
      bottom: 0;
      left: 1rem;
    }
  }

  md-chips .md-chips {
    box-shadow: none;
  }

}