md-fab-speed-dial.contact {
  position: fixed;
  left: 1rem;
  bottom: 1rem;

  @media screen and (min-width: $layout-breakpoint-sm) {
    left: inherit;
    right: 1rem;
  }
  md-icon {
    a {
      color: $color-primary;
      i.fa {
        top: -0.2rem;
        position: relative;
      }
    }
    &:hover {
      a {
        color: $color-accent;
      }
    }
  }
}