.contact-fab {
  position: fixed;
  left: 1rem;
  bottom: 1rem;

  @media screen and (min-width: $layout-breakpoint-sm) {
    left: inherit;
    right: 1rem;
  }

  md-fab-speed-dial {
    .md-button {
      md-icon {
        transition: color 0.5s;
        color: $color-primary;

        i.fa {
          top: -0.2rem;
          position: relative;
        }
      }

      &:hover {
        md-icon {
          color: $color-accent;
        }
      }
    }
  }
}