<md-content class="md-padding" layout="column" layout-align="center center">
    <md-content class="md-padding workarea" layout-sm="column" layout-gt-sm="row" layout-align-sm="center center" layout-align-gt-sm="center start" layout-fill>
        <main flex-sm="100" flex-gt-sm="66" layout="column" layout-align="center center" layout-margin layout-padding>
            <md-whiteframe class="md-whiteframe-z2 section" layout="column" layout-align="center center" layout-fill>
                <md-card class="captioned-card" ng-repeat="post in filteredPosts = (blog.posts | inCategory : (blog.categories | filter: {checked: true}) | hasTag : (blog.tags | filter: {checked: true}))">
                    <div class="topper">
                        <img src="{{ post.featured_photo.uri }}" class="md-card-image" alt="{{ post.featured_photo.name }}">
                        <h2 class="md-display-1">{{ post.title }}</h2>
                    </div>
                    <md-card-content class="md-headline">
                        <p ng-bind-html="post.teaser"></p>
                    </md-card-content>
                    <div class="md-actions" layout="row" layout-align="end center">
                        <md-button ui-sref="app.blog.show({ postSlug: post.slug })">Read More</md-button>
                    </div>
                </md-card>
                <div ng-if="filteredPosts.length == 0" layout="row" layout-fill layout-margin layout-padding>
                    <md-icon class="md-display-2" md-font-set="material-icons">photo_size_select_small</md-icon>
                    <p class="md-headline">
                        There are no posts satisfying your filters!
                    </p>
                </div>
            </md-whiteframe>
        </main>
        <aside flex-sm="100" flex-gt-sm="33" layout="column" layout-align="center center" layout-margin layout-padding>
            <md-whiteframe class="md-whiteframe-z2 aside" layout layout-align="center center" layout-fill>
                <md-content layout="column" layout-align="center center" layout-padding class="container">
                    <h3 class="md-headline">Categories</h3>
                    <md-list-item ng-repeat="category in blog.categories | orderBy: 'name'" layout-fill>
                        <p> {{ category.name }} </p>
                        <md-checkbox class="md-secondary" ng-model="category.checked"></md-checkbox>
                    </md-list-item>
                    <h3 class="md-headline">Tags</h3>
                    <md-chips ng-model="blog.tags" readonly="true" class="readonly output-chips">
                        <md-chip-template ng-class="{ active: $chip.checked }" ng-click="blog.toggleChecked($chip)">
                            #{{ $chip.name }}
                        </md-chip-template>
                    </md-chips>
                </md-content>
            </md-whiteframe>
        </aside>
    </md-content>
</md-content>