$color-primary: #673AB7;
$color-primary-dark: #512DA8;
$color-primary-light: #D1C4E9;
$color-accent: #FF9800;
$color-primary-text: #212121;
$color-dark-grey: #727272;
$color-light-grey: #B6B6B6;
$color-white-transparent: rgba(255,255,255,0.87);

$base-shadow: 1px 1px 1px rgba(0,0,0,0.8);