<section class="parallax" layout="column" layout-align="center center">
    <md-content class="md-padding workarea" layout="column" layout-sm="column" layout-align="center center" layout-fill>
        <div class="md-display-1">
            Find the developer you deserve:
        </div>
        <md-chips class="input-chips" ng-model="home.searchedSkills" md-autocomplete-snap md-require-match>
            <md-autocomplete
                    md-selected-item="home.selectedSkill"
                    md-search-text="home.searchText"
                    md-items="skill in home.querySearch(home.searchText)"
                    md-item-text="skill.name"
                    placeholder="Enter a skill"
                    md-autoselect="true"
                    >
                <span md-highlight-text="home.searchText">{{skill.name}}</span>
            </md-autocomplete>
            <md-chip-template>
                        <span>
                          <strong>{{$chip.name}}</strong>
                        </span>
            </md-chip-template>
        </md-chips>
    </md-content>
</section>

<md-content class="md-padding" layout="column" layout-align="center center">
    <md-whiteframe class="md-whiteframe-z1 md-padding md-margin workarea" layout="column" layout-align="center center">
        <div class="skills">
            <md-card ng-repeat="category in home.categories | hasSkill : home.searchedSkills" layout-gt-sm="row" layout-sm="column">
                <div flex-sm="100" flex-gt-sm="50" class="icon" layout="column" layout-align="center center">
                    <md-icon md-font-set="material-icons" class="md-display-4">{{ category.photos[0].name }}</md-icon>
                </div>
                <div flex-sm="100" flex-gt-sm="50" class="md-padding">
                    <md-card-content flex="50">
                        <h2 class="md-title">{{ category.name }}</h2>

                        <p>
                            {{ category.description }}
                        </p>

                    </md-card-content>
                    <div layout="row" layout-align="start center">
                        <md-chips class="output-chips" ng-model="category.skills" readonly="true">
                            <md-chip-template ng-class="{selected: (home.searchedSkills | filter: {id: $chip.id} : true).length > 0 }">
                                {{ $chip.name }}
                            </md-chip-template>
                        </md-chips>
                    </div>
                </div>
            </md-card>
        </div>
    </md-whiteframe>
</md-content>