<md-content class="md-padding" layout layout-align="center center" class="cv">
    <md-content class="md-padding workarea" layout="row" layout-sm="column" layout-align="center start" layout-fill>
        <aside flex-sm="100" flex-gt-sm="35" layout="column" layout-align="center center">
            <md-whiteframe class="md-whiteframe-z2 aside" layout layout-align="center center" layout-fill>
                <md-content layout="column" layout-align="center center" layout-padding class="container">
                    <img src="/assets/img/johnny-avatar.jpg" alt="Johnny Magrippis" class="avatar">

                    <h1 class="md-headline">Ioannis "Johnny" Magrippis</h1>

                    <md-button class="md-raised md-primary job-title" ng-click="cv.retitle()">
                        {{ cv.titles[cv.currentKey].name }}
                    </md-button>

                    <section>
                        <h3 class="md-title">Contact</h3>
                        <div class="icon-list" layout="row">
                            <md-icon flex="10" class="md-accent" md-font-library="material-icons">home</md-icon>
                            <ul flex="90">
                                <li>Kritonos 25</li>
                                <li>Glyfada, 166-74</li>
                                <li>Attica, Greece</li>
                            </ul>
                        </div>
                        <div class="icon-list" layout="row">
                            <md-icon flex="10" class="md-secondary md-accent" md-font-library="material-icons">mail</md-icon>
                            <ul flex="90">
                                <li><a href="mailto:j@magrippis.com">j@magrippis.com</a></li>
                                <li><a href="//magrippis.com">magrippis.com</a></li>
                            </ul>
                        </div>
                        <div class="icon-list" layout="row">
                            <md-icon flex="10" class="md-secondary md-accent" md-font-library="material-icons">phone</md-icon>
                            <ul flex="90">
                                <li>+30 6945665237</li>
                            </ul>
                        </div>
                    </section>

                    <section>
                        <h3 class="md-title">Featured Skills</h3>
                        <div ng-repeat="skill in cv.skills" layout="row" layout-align="start center">
                            <h4 flex="35" class="md-subhead">{{ skill.name }}</h4>
                            <md-slider flex="50" ng-model="skill.value" ng-blur="cv.snapSkill(skill)" min="0" max="255" aria-label="skill-name" class="md-accent">
                        </div>
                    </section>

                    <section>
                        <h3 class="md-title">About</h3>
                        <md-content>
                            <p class="md-headline">
                                Technology has been my passion since I was old enough to hold a game controller,
                                and coding my business since college. This very site, <a
                                    href="//magrippis.com">magrippis.com</a>,
                                showcases some of my programming and design strengths.
                            </p>
                        </md-content>
                    </section>

                    <section>
                        <h3 class="md-title">Languages</h3>
                        <div class="icon-list" layout="row">
                            <md-icon flex="10" class="md-secondary md-accent" md-font-library="material-icons">language</md-icon>
                            <ul flex="90">
                                <li layout="row" layout-align="start center" ng-repeat="language in cv.languages">
                                    <span flex="33">{{ language.name }}</span>
                                    <div flex="66" layout="row" layout-align="space-between">
                                        <md-icon class="md-secondary md-accent" md-font-library="material-icons" ng-repeat="number in cv.length(language.level) track by $index">star</md-icon>
                                        <md-icon class="md-secondary md-accent" md-font-library="material-icons" ng-repeat="number in cv.length(5 - language.level) track by $index">star_border</md-icon>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </section>
                </md-content>
            </md-whiteframe>
        </aside>
        <span flex="5" hide-sm></span>
        <main flex-sm="100" flex-gt-sm="60" layout="column" layout-align="center center" layout-margin layout-padding>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="center center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">assignment_ind</md-icon>
                        <h2 class="md-display-1" flex>Summary</h2>
                    </div>

                    <p class="md-subhead">Professional Web Designer since 2004 and a versatile Software Developer
                        since 2008. Lifelong thirst for knowledge, and a love for figuring out how
                        new things work as well as experimenting with new trends; a useful quality in this
                        field of emerging technologies and evolving standards. Diverse skills,
                        specialized in programming, active lifestyle, extremely sociable &
                        adaptable; fluent in English & Greek, advanced in French.
                    </p>
                </md-content>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="space-between center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">trending_up</md-icon>
                        <h2 class="md-display-1" flex>Qualities</h2>
                        <md-button class="md-icon-button md-raised" ng-click="cv.toggle('qualities')">
                            <md-icon md-font-library="material-icons">{{ cv.expanded.qualities ? 'expand_less' : 'expand_more' }}</md-icon>
                        </md-button>
                    </div>

                    <section ng-if="cv.expanded.qualities">
                        <div ng-repeat="quality in cv.qualities">
                            <p class="md-subhead" ng-bind-html="quality"></p>
                            <md-divider></md-divider>
                        </div>
                        <p class="md-headline">
                            As such, extremely skilled at the use of an assortment of relevant software, such as the
                            <strong>Office Suite</strong>, Adobe's <strong>Creative Suite</strong>,
                            <strong>PHPStorm</strong>, <strong>Blender</strong>, <strong>Maya</strong>,
                            <strong>Spine</strong>, <strong>Unity 3D</strong> & the <strong>Unreal Engine</strong>, as well
                            as online tools for collaborative projects, such as <strong>GitHub</strong>,
                            <strong>bitbucket</strong>, <strong>CodePen</strong>, <strong>jsfiddle</strong>,
                            <strong>trello</strong> & <strong>Google Docs</strong>.
                        </p>
                    </section>
                </md-content>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="center center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">work</md-icon>
                        <h2 class="md-display-1" flex>Work Experience</h2>
                        <md-button class="md-icon-button md-raised" ng-click="cv.toggle('work')">
                            <md-icon md-font-library="material-icons">{{ cv.expanded.work ? 'expand_less' : 'expand_more' }}</md-icon>
                        </md-button>
                    </div>

                    <section ng-if="cv.expanded.work">
                        <md-whiteframe class="md-whiteframe-z1 section business-card" layout="column" layout-align="center center" ng-repeat="job in cv.jobs">
                            <div class="card-header" layout layout-align="space-between center" layout-fill>
                                <h3 class="md-headline">{{ job.company }}</h3>
                                <span flex="5"></span>
                                <span class="md-title">{{ job.title }}</span>
                            </div>
                            <md-content flex layout="column" layout-align="center start">
                                <div layout="row" layout-align="space-between center" layout-fill>
                                    <span flex></span>
                                    <div class="md-body-1">{{ job.joined }} - {{ job.left }}</div>
                                </div>
                                <div class="md-subhead" ng-bind-html="job.summary"></div>
                            </md-content>
                        </md-whiteframe>
                    </section>
                </md-content>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="center center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">school</md-icon>
                        <h2 class="md-display-1" flex>Education</h2>
                        <md-button class="md-icon-button md-raised" ng-click="cv.toggle('education')">
                            <md-icon md-font-library="material-icons">{{ cv.expanded.education ? 'expand_less' : 'expand_more' }}</md-icon>
                        </md-button>
                    </div>

                    <section ng-if="cv.expanded.education">
                        <md-whiteframe class="md-whiteframe-z1 section business-card" layout="column" layout-align="center center" ng-repeat="diploma in cv.diplomas">
                            <div class="card-header" layout layout-align="space-between center" layout-fill>
                                <h3 class="md-headline">{{ diploma.name }}</h3>
                                <span flex="5"></span>
                                <span class="md-title">{{ diploma.institution }}</span>
                            </div>
                            <md-content flex layout="column" layout-align="center start">
                                <div layout="row" layout-align="space-between center" layout-fill>
                                    <span flex></span>
                                    <div class="md-body-1">{{ diploma.started }} - {{ diploma.completed }}</div>
                                </div>
                                <div class="md-subhead" ng-bind-html="diploma.summary"></div>
                            </md-content>
                        </md-whiteframe>
                    </section>
                </md-content>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="center center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">mood</md-icon>
                        <h2 class="md-display-1" flex>Interests</h2>
                        <md-button class="md-icon-button md-raised" ng-click="cv.toggle('interests')">
                            <md-icon md-font-library="material-icons">{{ cv.expanded.interests ? 'expand_less' : 'expand_more' }}</md-icon>
                        </md-button>
                    </div>

                    <section ng-if="cv.expanded.interests">
                        <div ng-repeat="interest in cv.interests">
                            <div layout layout-align="space-around center">
                                <p class="md-subhead" flex="80" ng-bind-html="interest.description"></p>
                                <md-icon md-font-library="material-icons" flex="10" class="md-primary">{{ interest.icon }}</md-icon>
                            </div>
                            <md-divider ng-if="!$last"></md-divider>
                        </div>
                    </section>
                </md-content>
            </md-whiteframe>

            <md-whiteframe class="md-whiteframe-z2 section" layout="row" layout-align="center center" layout-fill>
                <md-content flex>
                    <div layout="row" layout-align="start center">
                        <md-icon md-font-library="material-icons" flex="10" class="md-primary lg">supervisor_account</md-icon>
                        <h2 class="md-display-1" flex>References</h2>
                        <md-button class="md-icon-button md-raised" ng-click="cv.toggle('references')">
                            <md-icon md-font-library="material-icons">{{ cv.expanded.references ? 'expand_less' : 'expand_more' }}</md-icon>
                        </md-button>
                    </div>

                    <section ng-if="cv.expanded.references">
                        <div class="icon-list" layout="row" ng-repeat="reference in cv.references">
                            <md-icon flex="10" class="md-primary" md-font-library="material-icons">person</md-icon>
                            <ul flex="90">
                                <li class="md-title">{{ reference.name }}</li>
                                <li class="md-subhead">{{ reference.title }}</li>
                                <li class="md-subhead">{{ reference.email }}</li>
                                <li class="md-subhead">{{ reference.phone }}</li>
                            </ul>
                        </div>
                    </section>
                </md-content>
            </md-whiteframe>

        </main>
    </md-content>
</md-content>