<md-content class="md-padding" layout layout-align="center center" class="cv">
    <md-content class="md-padding workarea" layout="row" layout-align="center center" layout-fill>
        <aside flex="33" layout="column" layout-align="center center">
            <md-whiteframe class="md-whiteframe-z1 aside" layout layout-align="center center" layout-fill>
                <md-content layout="column" layout-align="center center" layout-padding>
                    <img src="/assets/img/johnny-avatar.jpg" alt="Johnny Magrippis" class="avatar">
                    <h1>Ioannis "Johnny" Magrippis</h1>
                    <md-button class="md-raised md-primary" ng-click="cv.retitle()">{{ cv.titles[cv.currentKey].name }}</md-button>
                </md-content>
            </md-whiteframe>
        </aside>
        <main flex="66" layout="column" layout-align="center center" layout-margin layout-padding>
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" layout-fill>
                <md-content>
                    <h2>Summary</h2>
                    <p>I am Johnny Magrippis.</p>
                </md-content>
            </md-whiteframe>
            <md-whiteframe class="md-whiteframe-z1" layout layout-align="center center" layout-fill>
                <md-content>
                    <h2>Work Experience</h2>
                    <p>I am Johnny Magrippis.</p>
                </md-content>
            </md-whiteframe>
        </main>
    </md-content>
</md-content>