@import './tailwind.css';

html,
body {
  height: 100%;
  @apply text-gray-900;
}

html {
  scroll-behavior: smooth;
}

body > div {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Fira Code', monospace;
}

.max-w-readability {
  max-width: 60ch;
}

.max-w-readability-lg {
  max-width: 80ch;
}
